<style>
    #gridList .k-grid-content.k-auto-scrollable {
        height: 500px !important;
        overflow-x: scroll !important;
    }
</style>
<div data-ng-controller="manageWoEmployeeController as vm" id="ktnb_searchForm_workAssignDetailId">
    <p class="text-brecum">{{vm.String}}</p>
    <form class="form-horizontal row" role="form">
        <div class="form-body">
            <div class="portlet light bordered">
                <div class="portlet-title background-title">
                    <div class="caption">
                        <span class="caption-subject bold lowercase" translate>Thông tin tìm kiếm</span>
                    </div>
                    <div class="text-right margin-row-title">
                        <i data-toggle="collapse" data-target="#demowoemployee" class="fa fa-chevron-circle-up"
                           aria-hidden="true"></i>
                    </div>
                </div>
                <div id="demowoemployee" class="collapse in from-search">
                    <div class="clearfix">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Nội dung tìm kiếm</label>
                            <div class="col-md-8">
                                <input class="form-control width100 " type="text"
                                       id="keySearch_searchForm" name="keySearch_searchForm"
                                       ng-model="vm.searchForm.keySearch" placeholder="Nhập nội dung tìm kiếm"/>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('keySearch')"></i>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " translate>Trạng thái NV nhận WO</label>
                            <div class="col-md-8">
                                <select kendo-drop-down-list k-option-label="'--Tất cả--'" class="form-control width100"
                                        k-data-source="vm.statusNvApproveArray" ng-model="vm.searchForm.statusNvApprove"
                                        k-data-text-field="'name'" k-data-value-field="'id'"
                                >
                                </select>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('statusNvApprove')"></i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Ngày giao việc</label>
                            <div class="col-md-4 no-padding position-relative">
                                <input kendo-date-picker k-format="'dd/MM/yyyy'" ng-change="vm.checkErr()"
                                       name="dateFrom" id="manageWoEmployee_startDate"
                                       ng-model="vm.searchForm.startDate" style="width: 100%;"
                                       min-year="1000" date-time/>
                                <span style="color:red">{{vm.errMessage}}</span>
                            </div>
                            <div class="col-md-1" style="text-align: center; padding-left: 22px;">
                                <label class="control-label" translate>đến</label>
                            </div>
                            <div class="col-md-3 no-padding position-relative">
                                <input kendo-date-picker k-format="'dd/MM/yyyy'" ng-change="vm.checkErr1()"
                                       name="dateTo" id="manageWoEmployee_closeDate"
                                       ng-model="vm.searchForm.closeDate"
                                       style="width: 100%;" min-year="1000" date-time/>
                                <span style="color:red">{{vm.errMessage1}}</span>
                                <div class="One_icon" style="right: -15px !important;">
                                    <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('date')"></i>
                                </div>
                            </div>

                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " translate>Trạng thái công việc:</label>
                            <div class="col-md-8">
                                <select kendo-drop-down-list k-option-label="'--Tất cả--'" class="form-control width100"
                                        k-data-source="vm.statusCompleteArray" ng-model="vm.searchForm.statusComplete"
                                        k-data-text-field="'name'" k-data-value-field="'id'"
                                >
                                </select>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('statusComplete')"></i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Trạng thái duyệt của P.PC&KSNB</label>
                            <div class="col-md-8">
                                <select kendo-drop-down-list k-option-label="'--Tất cả--'"
                                        id="searchWorkAssignStatusKtnbVerify" class="form-control width100"
                                        ng-model="vm.searchForm.statusKtnbVerify">
                                    <option value="0">Chờ duyệt</option>
                                    <option value="1">Đã duyệt</option>
                                    <option value="2">Từ chối</option>
                                    <option value="3">Trống</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Loại WO:</label>
                            <div class="col-md-8">
                                <select kendo-drop-down-list k-option-label="'--Tất cả--'" class="form-control width100"
                                        k-data-source="vm.typeWoArray" ng-model="vm.searchForm.typeWo"
                                        k-data-text-field="'name'" k-data-value-field="'id'">
                                </select>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('typeWo')"></i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Bộ phận giao WO</label>
                            <div class="col-md-8">
                                <select kendo-drop-down-list k-option-label="'--Tất cả--'" class="form-control width100"
                                        ng-model="vm.searchForm.departmentCode"
                                        k-data-source="vm.departmentCodeArray" k-data-text-field="'name'"
                                        k-data-value-field="'code'"
                                >
                                </select>

                            </div>
                        </div>

                        <div class="form-group col-md-6" ng-if="vm.searchForm.typeWo == 4">
                            <label class="col-md-4 control-label" translate>Văn bản được kiểm tra</label>
                            <div class="col-md-8">
                                <div class="input-icon right ">
                                    <input type="text" class="form-control width100"
                                           ng-model="vm.searchForm.inspectionDocument"
                                           id="inspectionDocument" placeholder="   Nhập văn bản được kiểm tra"/>
                                </div>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('inspectionDocument')"></i>
                            </div>
                        </div>
                    </div>

                    <!-- chỉ hiển thị khi chọn typeWo == 4-->
                    <div class="clearfix" ng-if="vm.searchForm.typeWo == 4">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Thời gian kiểm tra: Từ ngày </label>
                            <div class="col-md-4">
                                <input kendo-date-picker class="form-control width100" name="startInspectionDate"
                                       ng-model="vm.searchForm.startInspectionDate" k-format="'dd/MM/yyyy'"
                                       data-date-msg="Ngày tạo không hợp lệ"
                                       id="startInspectionDate" date-time/>
                            </div>

                            <label class="col-md-1 control-label" translate>đến</label>
                            <div class="col-md-3 position-relative">
                                <input kendo-date-picker class="form-control width100" name="endInspectionDate"
                                       ng-model="vm.searchForm.endInspectionDate" k-format="'dd/MM/yyyy'"
                                       id="endInspectionDate" date-time/>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true"
                                   ng-click="vm.clear('check_date')"></i>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Nội dung kiểm tra</label>
                            <div class="col-md-8">
                                <div class="input-icon right ">
                                    <input type="text" class="form-control width100"
                                           ng-model="vm.searchForm.inspectionContent"
                                           id="inspectionContent" placeholder="Nhập nội dung kiểm tra"/>
                                </div>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('inspectionContent')"></i>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix" ng-if="vm.searchForm.typeWo == 4">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Giai đoạn kiểm tra: Từ ngày </label>
                            <div class="col-md-4">
                                <input kendo-date-picker class="form-control width100" name="startInspectionPhase"
                                       ng-model="vm.searchForm.startInspectionPhase" k-format="'dd/MM/yyyy'"
                                       id="startInspectionPhase" date-time/>
                            </div>

                            <label class="col-md-1 control-label" translate>đến</label>
                            <div class="col-md-3 position-relative">
                                <input kendo-date-picker class="form-control width100" name="endInspectionPhase"
                                       ng-model="vm.searchForm.endInspectionPhase" k-format="'dd/MM/yyyy'"
                                       id="endInspectionPhase" date-time/>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true"
                                   ng-click="vm.clear('check_period_date')"></i>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Số hiệu báo cáo sau kiểm tra</label>
                            <div class="col-md-8">
                                <div class="input-icon right ">
                                    <input type="text" class="form-control width100"
                                           ng-model="vm.searchForm.reportNumber"
                                           placeholder="Nhập số hiệu báo cáo sau kiểm tra"
                                           id="reportNumber"/>
                                </div>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('reportNumber')"></i>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix" ng-if="vm.searchForm.typeWo == 4">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Đơn vị kiểm tra </label>

                            <div class="col-md-8">
                                <input class=" form-control width100" type="text" name="unitTestId" id="unitTestId"
                                       ng-model="vm.searchForm.unitTestName" kendo-auto-complete
                                       k-options="vm.unitTestSearchOptions"/>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('checkUnit')"></i>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Đơn vị được kiểm tra </label>

                            <div class="col-md-8">
                                <input class=" form-control width100" type="text" name="groupId"
                                       id="groupId" ng-model="vm.searchForm.groupName" kendo-auto-complete
                                       k-options="vm.checkedUnitSearchOptions"/>
                            </div>
                            <div class="One_icon">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('checkedUnit')"></i>
                            </div>
                        </div>
                    </div>

                    <!---->

                    <div class="clearfix form-actions margin-top">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button ng-click="vm.doSearch()" class="btn btn-qlk padding-search-right searchQLK"
                                        translate>Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="portlet light bordered">
        <div class="portlet-title background-title">
            <div class="caption">
                <span class="caption-subject bold lowercase" translate>Kết quả tìm kiếm:  </span>&nbsp;<label
                    class="control-label bold lowercase">{{vm.count}}</label>
                <label class="control-label bold lowercase">&nbsp;bản ghi</label>
            </div>
            <div class="text-right margin-row-title">
                <i data-toggle="collapse" data-target="#demowoemployeeGrid" class="fa fa-chevron-circle-up"
                   aria-hidden="true"></i>
            </div>
        </div>
        <div id="demowoemployeeGrid" class="collapse in ">
            <div class=" margin_top_button"></div>
            <div id="gridList" kendo-grid="vm.manageWoEmployeeGrid" k-editable="false"
                 k-options="vm.manageWoEmployeeGridOptions"
                 k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
        </div>
    </div>
</div>

