<div class="portlet light bordered">
    <div id="collapseResultGrid" class="collapse in ">
        <div class=" margin_top_button"></div>
        <div id="violationGrid2" kendo-grid="caller.violationGrid" k-editable="false"  k-options="caller.importResGridOptions" ></div>
    </div>
</div>
<div class="clearfix form-actions margin-top">
    <div class="col-md-12 text-right" style="padding-right:0px; padding-top:5px;">
        <button id="sav" class="btn btn-qlk padding-search-right saveQLK" ng-click="caller.submitByImport()" translate>Ghi lại
        </button>
        <button class="btn btn-qlk padding-search-right closeQLK" ng-click="caller.cancel()" translate>Hủy bỏ
        </button>
    </div>
</div>