<div data-ng-controller="riskProfileDetailController as vm" id="riskProfileDetail">
    <p class="text-brecum">{{vm.string}}</p>
    <form class="form-horizontal row" role="form" >
        <div class="form-body">
            <div class="portlet light bordered">
                <div class="portlet-title background-title">
                    <div class="caption">
                        <span class="caption-subject bold lowercase" translate>Thông tin tìm kiếm</span>
                    </div>
                    <div class="text-right margin-row-title">
                        <i data-toggle="collapse" data-target="#collapseSearchForm" class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="collapseSearchForm" class="collapse in from-search">
                    <div class="clearfix">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " translate>Tên rủi ro</label>
                            <div class="col-md-8">
                                <div class="input-icon right ">
                                    <i class="fa fa-search directive" ng-click="vm.selectRiskProfile('rpSearch')" style="cursor: pointer;"></i>
                                    <input class=" form-control width100" type="text" name="searchRiskProfile" id="searchRiskProfile" ng-model="vm.searchForm.name"
                                           kendo-auto-complete k-options="vm.riskProfileSearchOptions" />
                                </div>
                            </div>
                            <div class="One_icon" style="margin-right: 15px;">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('riskProfile')"></i>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label" translate>Nguyên nhân rủi ro</label>
                            <div class="col-md-8">
                                <div class="input-icon right ">
                                    <input type="text" class="form-control width100" ng-model="vm.searchForm.reasonDescription"
                                           id="searchReasonDescription" />
                                </div>
                            </div>
                            <div class="One_icon" style="margin-right: 15px;">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('reasonDescription')"></i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " translate>Đơn vị thực hiện hiện tại</label>
                            <div class="col-md-8">
                                <div class="input-icon right ">
                                    <i class="fa fa-search directive" ng-click="vm.selectSysGroup('htSearch')" style="cursor: pointer;"></i>
                                    <input class=" form-control width100" type="text" name="searchSysGroupHt" id="searchSysGroupHt" ng-model="vm.searchForm.implementDvHtName"
                                           kendo-auto-complete k-options="vm.sysGroupHtSearchOptions" />
                                </div>
                            </div>
                            <div class="One_icon" style="margin-right: 15px;">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('implementDvHt')"></i>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " translate>Đơn vị thực hiện bổ sung</label>
                            <div class="col-md-8">
                                <div class="input-icon right ">
                                    <i class="fa fa-search directive" ng-click="vm.selectSysGroup('bsSearch')" style="cursor: pointer;"></i>
                                    <input class=" form-control width100" type="text" name="searchSysGroupBs" id="searchSysGroupBs" ng-model="vm.searchForm.implementDvBsName"
                                           kendo-auto-complete k-options="vm.sysGroupBsSearchOptions" />
                                </div>
                            </div>
                            <div class="One_icon" style="margin-right: 15px;">
                                <i class="fa fa-times" aria-hidden="true" ng-click="vm.clear('implementDvBs')"></i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 control-label " translate>Trạng thái:</label>
                            <div class="col-md-8 position-relative" >
                                <select kendo-drop-down-list k-option-label="'---Tất cả---'" id="status" style="width: 100%"  ng-model="vm.searchForm.status">
                                    <option value="1">Hiệu lực</option>
                                    <option value="0">Hết hiệu lực</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-actions margin-top">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button id="doSearchRiskProfileDetail" ng-click="vm.doSearch(vm.currentPage)" class="btn btn-qlk padding-search-right searchQLK" translate>Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="portlet light bordered">
        <div class="portlet-title background-title">
            <div class="caption">
				<span class="caption-subject bold lowercase" translate>
				Kết quả tìm kiếm:  </span>&nbsp;<label class="control-label bold lowercase" id="unitCount">{{vm.countRiskProfileDetail}}</label>
                <label class="control-label bold lowercase">&nbsp;bản ghi</label>
            </div>
            <div class="text-right margin-row-title">
                <i data-toggle="collapse" data-target="#collapseResultGrid" class="fa fa-chevron-circle-up" aria-hidden="true"></i>
            </div>
        </div>
        <div id="collapseResultGrid" class="collapse in ">
            <div class=" margin_top_button"></div>
            <div id="riskProfileDetailGrid" kendo-grid="vm.riskProfileDetailGrid" k-editable="false"  k-options="vm.riskProfileDetailGridOptions" ></div>
        </div>
    </div>
</div>
