<form class="form-horizontal row padding10" role="form" name="impellentBroadcastingStationPopupId"
      id="impellentBroadcastingStationPopupId">
    <div class="border-gray">
        <div class="form-body">
            <div class="portlet light bordered">
                <div class="clearfix">
                    <div id="impellentBroadcastingStationAddGridId"
                         kendo-grid="caller.impellentBroadcastingStationAddGrid" k-editable="true"
                         k-options="caller.impellentBroadcastingStationAddGridOptions"></div>
                </div>

            </div>
        </div>
        <div class="form-body">
            <div>
                <div class="clearfix form-actions margin-top" >
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-qlk padding-search-right closeQLK" id="cancel2"
                                    ng-click="caller.cancel()" translate>Hủy bỏ
                            </button>
                            <button type="button" class="btn btn-qlk padding-search-right saveQLK" id="saveChange2"
                                    ng-click="caller.save()" translate>Cam kết
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</form>
<script type="text/javascript">
    document.onkeydown = keyDown;

    function keyDown(e) {
        switch (e.keyCode) {
            case 27:
                $("#cancel").click();
                break;
        }
    }
</script>











