<form class="form-horizontal row padding10" role="form" name="indicator_add_popupId" id="indicator_add_popupId">
    <div class="border-gray">
        <div class="clearfix">
            <div class="clearfix margin-top-20">
                <div id="reasonReject" class="collapse in from-search">
                    <div class="body-content">
                        <div class="border-gray" style="background-color: aliceblue;">
                            <div class="row">
                                <div class="form-group col-md-12 margin-top-10" ng-show="caller.typeReject==='DV'">
                                    <label class="col-md-3 control-label req" translate>Lý do từ chối:</label>
                                    <div class="col-md-8">
                                    <textarea rows="2" type="text" maxlength="5000"
                                              class="form-control width100" ng-model="caller.detailForm.rejectReason"
                                              translate
                                    > </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 margin-top-10" ng-show="caller.typeReject==='KTNB'">
                                    <label class="col-md-3 control-label req" translate>Lý do từ chối:</label>
                                    <div class="col-md-8">
                                    <textarea rows="2" type="text" maxlength="5000"
                                              class="form-control width100" ng-model="caller.detailForm.rejectKtnbReason"
                                              translate
                                    > </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix form-actions margin-top">
        <div class="col-md-12 text-right" style="padding-right:0px; padding-top:5px;" >
            <button ng-show="caller.typeReject==='DV'" class="btn btn-qlk padding-search-right saveQLK" ng-click="caller.rejectAward()" translate>Từ chối
            </button>
            <button ng-show="caller.typeReject==='KTNB'" class="btn btn-qlk padding-search-right saveQLK" ng-click="caller.rejectAwardKtnb()" translate>Từ chối
            </button>
        </div>
    </div>
</form>
<script>
    $(document).keyup(function (e) {
        if (e.keyCode == 27){
            $("#cancel").click();
            return false;
        }
    })
</script>